In [2]:
import numpy as np
import pandas as pd
import numpy.random as rd
import matplotlib.pyplot as plt
from sklearn import svm
from sklearn import model_selection

In [19]:
data = pd.read_csv(r"C:\Users\tilwa\majorproject\data\TSLA.csv")
#df = data.drop(["Unnamed: 0"], axis = 1, inplace = False)

Row_list =[] 
#Row_list1 = []

# Iterate over each row 
for index, rows in data.iterrows(): 
    # Create list for the current row 
    my_list =[rows['Open'], rows['High'], rows['Low'], rows['Close'], rows['Volume']] 
    #my_list1 = [rows['House overall [kW]']]
    # append the list to the final list 
    Row_list.append(my_list)
    #Row_list1.append(my_list1)
    #result = np.array(Row_list1).flatten().tolist()
    #result1 = np.round(result)
    
print(Row_list[:10])
print(len(Row_list))
#print(result1[:100])
#print(len(result1))

[[118.031998, 130.399994, 116.106003, 130.190002, 112377000], [139.794006, 148.37600700000002, 138.48599199999998, 141.977997, 152882500], [148.399994, 150.62600700000002, 142.0, 145.966003, 117885000], [143.388, 151.889999, 141.34399399999998, 149.042007, 103289500], [154.455994, 154.990005, 149.531998, 150.778, 65641000], [146.53999299999998, 153.113998, 142.442001, 149.272003, 73733000], [146.024002, 150.666, 134.757996, 137.34399399999998, 101045500], [140.796005, 146.800003, 137.742004, 146.421997, 70827500], [145.520004, 146.800003, 140.62600700000002, 141.12600700000002, 66183500], [142.162003, 146.145996, 139.636002, 145.029999, 66060000]]
251

In [15]:
trend = []
for row in Row_list:
    if row[3] - row[0] > 0:
        trend.append(1)
    elif row[3] - row[0] < 0:
        trend.append(-1)
    elif row[3] - row[0] == 0:
        trend.append(0)
            
print(trend)
print(len(trend))
          
trendString = []
for row in Row_list:
    if row[3] - row[0] > 0:
        trendString.append('Positive')
    elif row[3] - row[0] < 0:
        trendString.append('Negative')
    elif row[3] - row[0] == 0:
        trendString.append('Neutral')
        
print(trendString)

[1, 1, -1, 1, -1, 1, -1, 1, -1, 1, 1, -1, 1, -1, -1, 1, -1, 1, 1, 1, 1, -1, -1, 1, 1, -1, -1, -1, 1, -1, -1, -1, -1, 1, 1, -1, -1, -1, 1, 1, 1, 1, -1, -1, 1, -1, 1, 1, -1, -1, 1, -1, 1, -1, 1, 1, 1, -1, 1, -1, -1, -1, 1, -1, -1, 1, 1, -1, 1, -1, -1, -1, 1, 1, -1, -1, -1, -1, 1, -1, -1, -1, -1, -1, -1, 1, 1, -1, 1, -1, 1, 1, 1, -1, 1, 1, 1, -1, 1, -1, -1, -1, 1, -1, 1, -1, -1, 1, 1, 1, 1, -1, -1, -1, -1, 1, 1, -1, 1, 1, 1, -1, 1, -1, 1, -1, 1, 1, 1, 1, -1, -1, -1, -1, -1, -1, -1, 1, 1, -1, 1, -1, 1, 1, -1, 1, -1, -1, -1, 1, -1, -1, -1, -1, 1, 1, -1, 1, 1, 1, 1, -1, -1, 1, 1, 1, 1, 1, -1, 1, -1, 1, -1, -1, 1, 1, -1, -1, 1, 1, -1, 1, 1, 1, 1, 1, -1, 1, 1, -1, 1, 1, 1, -1, 1, -1, -1, 1, 1, -1, -1, 1, -1, 1, 1, -1, -1, 1, -1, -1, -1, -1, 1, -1, 1, 1, -1, -1, 1, 1, -1, -1, 1, -1, -1, -1, -1, -1, 1, -1, 1, 1, 1, -1, 1, -1, 1, -1, -1, -1, 1, -1, -1, 1, 1, -1, -1, 1, -1, 1, -1]
251
['Positive', 'Positive', 'Negative', 'Positive', 'Negative', 'Positive', 'Negative', 'Positive', 'Negative', 'Positive', 'Positive', 'Negative', 'Positive', 'Negative', 'Negative', 'Positive', 'Negative', 'Positive', 'Positive', 'Positive', 'Positive', 'Negative', 'Negative', 'Positive', 'Positive', 'Negative', 'Negative', 'Negative', 'Positive', 'Negative', 'Negative', 'Negative', 'Negative', 'Positive', 'Positive', 'Negative', 'Negative', 'Negative', 'Positive', 'Positive', 'Positive', 'Positive', 'Negative', 'Negative', 'Positive', 'Negative', 'Positive', 'Positive', 'Negative', 'Negative', 'Positive', 'Negative', 'Positive', 'Negative', 'Positive', 'Positive', 'Positive', 'Negative', 'Positive', 'Negative', 'Negative', 'Negative', 'Positive', 'Negative', 'Negative', 'Positive', 'Positive', 'Negative', 'Positive', 'Negative', 'Negative', 'Negative', 'Positive', 'Positive', 'Negative', 'Negative', 'Negative', 'Negative', 'Positive', 'Negative', 'Negative', 'Negative', 'Negative', 'Negative', 'Negative', 'Positive', 'Positive', 'Negative', 'Positive', 'Negative', 'Positive', 'Positive', 'Positive', 'Negative', 'Positive', 'Positive', 'Positive', 'Negative', 'Positive', 'Negative', 'Negative', 'Negative', 'Positive', 'Negative', 'Positive', 'Negative', 'Negative', 'Positive', 'Positive', 'Positive', 'Positive', 'Negative', 'Negative', 'Negative', 'Negative', 'Positive', 'Positive', 'Negative', 'Positive', 'Positive', 'Positive', 'Negative', 'Positive', 'Negative', 'Positive', 'Negative', 'Positive', 'Positive', 'Positive', 'Positive', 'Negative', 'Negative', 'Negative', 'Negative', 'Negative', 'Negative', 'Negative', 'Positive', 'Positive', 'Negative', 'Positive', 'Negative', 'Positive', 'Positive', 'Negative', 'Positive', 'Negative', 'Negative', 'Negative', 'Positive', 'Negative', 'Negative', 'Negative', 'Negative', 'Positive', 'Positive', 'Negative', 'Positive', 'Positive', 'Positive', 'Positive', 'Negative', 'Negative', 'Positive', 'Positive', 'Positive', 'Positive', 'Positive', 'Negative', 'Positive', 'Negative', 'Positive', 'Negative', 'Negative', 'Positive', 'Positive', 'Negative', 'Negative', 'Positive', 'Positive', 'Negative', 'Positive', 'Positive', 'Positive', 'Positive', 'Positive', 'Negative', 'Positive', 'Positive', 'Negative', 'Positive', 'Positive', 'Positive', 'Negative', 'Positive', 'Negative', 'Negative', 'Positive', 'Positive', 'Negative', 'Negative', 'Positive', 'Negative', 'Positive', 'Positive', 'Negative', 'Negative', 'Positive', 'Negative', 'Negative', 'Negative', 'Negative', 'Positive', 'Negative', 'Positive', 'Positive', 'Negative', 'Negative', 'Positive', 'Positive', 'Negative', 'Negative', 'Positive', 'Negative', 'Negative', 'Negative', 'Negative', 'Negative', 'Positive', 'Negative', 'Positive', 'Positive', 'Positive', 'Negative', 'Positive', 'Negative', 'Positive', 'Negative', 'Negative', 'Negative', 'Positive', 'Negative', 'Negative', 'Positive', 'Positive', 'Negative', 'Negative', 'Positive', 'Negative', 'Positive', 'Negative']

In [24]:
data["Trend"] = trend
data["TrendString"] = trendString

In [25]:
data

,Date,Open,High,Low,Close,Volume,Trend,TrendString
0,2020-04-13,118.031998,130.399994,116.106003,130.190002,112377000,1,Positive
1,2020-04-14,139.794006,148.376007,138.485992,141.977997,152882500,1,Positive
2,2020-04-15,148.399994,150.626007,142.000000,145.966003,117885000,-1,Negative
3,2020-04-16,143.388000,151.889999,141.343994,149.042007,103289500,1,Positive
4,2020-04-17,154.455994,154.990005,149.531998,150.778000,65641000,-1,Negative
...,...,...,...,...,...,...,...,...
246,2021-04-05,707.710022,708.159973,684.700012,691.049988,41842800,-1,Negative
247,2021-04-06,690.299988,696.549988,681.369995,691.619995,28271800,1,Positive
248,2021-04-07,687.000000,691.380005,667.840027,670.969971,26309400,-1,Negative
249,2021-04-08,677.380005,689.549988,671.650024,683.799988,23924300,1,Positive
250,2021-04-09,677.770020,680.969971,669.429993,677.020020,21402600,-1,Negative

In [26]:
data.to_csv(r'C:\Users\tilwa\majorproject\data\TSLA1.csv')

In [27]:
data

,Date,Open,High,Low,Close,Volume,Trend,TrendString
0,2020-04-13,118.031998,130.399994,116.106003,130.190002,112377000,1,Positive
1,2020-04-14,139.794006,148.376007,138.485992,141.977997,152882500,1,Positive
2,2020-04-15,148.399994,150.626007,142.000000,145.966003,117885000,-1,Negative
3,2020-04-16,143.388000,151.889999,141.343994,149.042007,103289500,1,Positive
4,2020-04-17,154.455994,154.990005,149.531998,150.778000,65641000,-1,Negative
...,...,...,...,...,...,...,...,...
246,2021-04-05,707.710022,708.159973,684.700012,691.049988,41842800,-1,Negative
247,2021-04-06,690.299988,696.549988,681.369995,691.619995,28271800,1,Positive
248,2021-04-07,687.000000,691.380005,667.840027,670.969971,26309400,-1,Negative
249,2021-04-08,677.380005,689.549988,671.650024,683.799988,23924300,1,Positive
250,2021-04-09,677.770020,680.969971,669.429993,677.020020,21402600,-1,Negative